<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jonnyg.gardenapp">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".myApplcation"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Need For Seed"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".Hub"
            android:label="@string/title_activity_hub"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.jonnyg.gardenapp.Hub" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SeedSave"
            android:label="Saving Seeds"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.jonnyg.gardenapp.SeedSave" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraView"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Picture Menu"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.jonnyg.gardenapp.CameraView" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SeedShare"
            android:label="Sharing Menu"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.jonnyg.gardenapp.SeedShare" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AzurePage"
            android:label="Save for Sharing"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.jonnyg.gardenapp.AzurePage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".seeds_for_sharing"
            android:label="Seeds for Sharing"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.jonnyg.gardenapp.seeds_for_sharing" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Gallery"
            android:label="@string/title_activity_gallery"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.jonnyg.gardenapp.Gallery" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
